In [30]:
import pandas as pd
pd.set_option('display.max_columns', 150)

In [31]:
p_df=pd.read_csv("pitch_df.csv")
p_df

,pitcher_id,batter_id,pitch_type,start_speed,end_speed,spin_dir,spin_rate,pfx_x,pfx_z,px,pz,x0,y0,ax,ay,az,vx0,vy0,vz0,sz_top,sz_bot,gid
0,592717,458731,FF,95.0,86.1,229.861,2278.211,-8.620879,7.269268,-0.033228,2.053568,-1.574409,50.0,-16.565291,31.665217,-18.205921,7.237267,-137.985494,-6.402926,3.138877,1.468910,gid_2018_03_30_nyamlb_tormlb_1
1,592717,458731,FT,96.9,88.3,239.966,2666.440,-11.162103,6.453190,0.399159,1.877296,-1.675223,50.0,-22.373811,31.539399,-19.238991,9.789227,-140.613435,-6.827215,3.090231,1.517429,gid_2018_03_30_nyamlb_tormlb_1
2,592717,458731,FT,96.2,87.4,245.674,2644.303,-11.732057,5.303549,1.665794,2.102718,-1.499870,50.0,-23.172133,30.790487,-21.698942,12.929830,-139.519167,-5.082790,3.100291,1.420246,gid_2018_03_30_nyamlb_tormlb_1
3,592717,458731,CH,91.3,82.7,260.579,2236.697,-11.401493,1.891825,-1.853124,2.235085,-2.000409,50.0,-20.207233,30.716540,-28.821106,4.250501,-132.861596,-3.041003,3.100291,1.501232,gid_2018_03_30_nyamlb_tormlb_1
4,592717,458731,FT,96.5,87.8,240.531,2443.152,-10.333229,5.838748,0.159639,2.238886,-1.624379,50.0,-20.557270,31.892380,-20.558249,8.651278,-140.211861,-5.313459,2.912143,1.274464,gid_2018_03_30_nyamlb_tormlb_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10994,523260,452655,FF,97.3,87.8,210.342,2051.265,-5.002101,8.545384,-0.996833,4.566051,-1.470940,50.0,-10.104876,33.245241,-14.911293,3.133796,-141.471784,-0.513678,3.356263,1.637143,gid_2018_04_01_bosmlb_tbamlb_1
10995,523260,452655,FF,97.5,88.1,210.006,2115.532,-5.101967,8.834335,-0.788340,3.768024,-1.464800,50.0,-10.339302,33.739795,-14.270982,3.740298,-141.778234,-2.506325,3.397887,1.637143,gid_2018_04_01_bosmlb_tbamlb_1
10996,523260,452655,FT,96.5,88.2,231.016,2332.857,-8.814844,7.133801,0.366572,2.182310,-1.295883,50.0,-17.516855,31.890123,-17.997760,7.764745,-140.140303,-5.603002,3.199823,1.502183,gid_2018_04_01_bosmlb_tbamlb_1
10997,523260,452655,FF,97.9,88.3,213.726,2537.150,-6.781922,10.158810,1.186182,2.843527,-1.302225,50.0,-13.796150,34.028944,-11.508450,9.430169,-142.081971,-5.289615,3.356264,1.595509,gid_2018_04_01_bosmlb_tbamlb_1
10998,523260,452655,CH,87.8,80.1,236.154,2090.604,-9.295617,6.233632,1.155911,0.716372,-1.276424,50.0,-15.238865,26.485521,-21.954880,9.143615,-127.327428,-7.275951,3.199823,1.502183,gid_2018_04_01_bosmlb_tbamlb_1

In [32]:
p_df[p_df["gid"]=="gid_2018_04_01_anamlb_oakmlb_1"]["pitcher_id"].unique()

array([605254, 660271, 433589, 488748, 501822, 543056, 592135, 433586,
       502028, 453284, 641871])

In [33]:
p_df.groupby("pitcher_id").count().reset_index().sort_values(by="px", ascending=False)

,pitcher_id,batter_id,pitch_type,start_speed,end_speed,spin_dir,spin_rate,pfx_x,pfx_z,px,pz,x0,y0,ax,ay,az,vx0,vy0,vz0,sz_top,sz_bot,gid
215,621244,107,107,107,107,107,107,107,107,107,107,107,107,107,107,107,107,107,107,107,107,107
34,456701,104,104,104,104,104,104,104,104,104,104,104,104,104,104,104,104,104,104,104,104,104
59,500779,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103
104,543037,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102
72,502190,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,502083,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
226,628318,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
30,453344,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
173,596074,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
149,591693,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [36]:
names_df = pd.read_csv("other_data/mlb-pitch-data-20152018/player_names.csv")
names_df[names_df["last_name"]=="Ohtani"]

          id first_name last_name
1152  660271     Shohei    Ohtani

In [38]:
names_df[names_df["id"].isin([605254, 660271, 433589, 488748, 501822, 543056, 592135, 433586,
       502028, 453284, 641871])]

          id first_name  last_name
92    501822      Chris    Hatcher
103   433586   Santiago    Casilla
159   433589   Yusmeiro      Petit
407   592135        Cam  Bedrosian
466   543056      Danny   Coulombe
741   488748       Ryan    Buchter
748   502028      Blake       Wood
892   453284      Blake     Parker
993   641871     Keynan  Middleton
1033  605254     Daniel    Gossett
1152  660271     Shohei     Ohtani

In [41]:
pitch_id = 660271
df = p_df[p_df["pitcher_id"]==pitch_id]
df

,pitcher_id,batter_id,pitch_type,start_speed,end_speed,spin_dir,spin_rate,pfx_x,pfx_z,px,pz,x0,y0,ax,ay,az,vx0,vy0,vz0,sz_top,sz_bot,gid
1478,660271,543760,FF,96.4,88.3,210.225,2478.278,-6.005155,10.306862,-0.360246,2.814406,-1.963065,50.0,-12.054512,29.045056,-11.484458,6.621960,-140.174522,-6.795326,3.539797,1.597221,gid_2018_04_01_anamlb_oakmlb_1
1479,660271,543760,SL,81.5,74.7,106.612,1415.788,7.778194,2.320582,0.209670,3.433696,-2.237738,50.0,11.101823,22.703018,-28.861880,3.368222,-118.717215,0.028016,3.329010,1.459250,gid_2018_04_01_anamlb_oakmlb_1
1480,660271,543760,SL,83.6,76.8,120.709,1467.112,7.010907,4.164236,0.239599,3.669399,-2.227319,50.0,10.581381,22.471270,-25.889075,3.746613,-121.701608,-0.279185,3.586549,1.657899,gid_2018_04_01_anamlb_oakmlb_1
1481,660271,543760,FS,88.0,81.9,244.689,1137.623,-5.408242,2.557656,0.937779,1.095009,-1.815259,50.0,-9.054546,23.010870,-27.891989,8.766358,-127.731625,-7.200113,3.328897,1.459146,gid_2018_04_01_anamlb_oakmlb_1
1482,660271,476704,FF,98.1,89.6,210.308,2374.723,-5.679445,9.715485,-0.588725,3.065063,-2.116474,50.0,-11.790881,30.899750,-12.004096,6.403052,-142.733484,-6.172308,3.218175,1.398752,gid_2018_04_01_anamlb_oakmlb_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,660271,621566,FF,98.1,89.4,206.131,2167.420,-4.527726,9.229184,-0.529723,3.770825,-2.232903,50.0,-9.404628,31.662735,-13.003930,6.477799,-142.926335,-3.866523,3.690882,1.657723,gid_2018_04_01_anamlb_oakmlb_1
1658,660271,621566,FF,97.7,89.9,218.364,2119.459,-6.250459,7.895885,0.005893,2.471609,-2.168323,50.0,-12.876919,29.835986,-15.907296,8.406160,-142.011594,-6.730078,3.489892,1.529551,gid_2018_04_01_anamlb_oakmlb_1
1659,660271,501981,FS,89.9,83.2,235.585,1125.745,-4.788948,3.280880,0.476017,1.443484,-2.074344,50.0,-8.363201,24.839575,-26.444469,8.220779,-130.646152,-6.546844,3.389236,1.449026,gid_2018_04_01_anamlb_oakmlb_1
1660,660271,501981,FS,90.4,83.7,253.931,903.669,-4.442697,1.279699,0.219523,1.708112,-2.089042,50.0,-7.872109,24.854755,-29.906523,7.531790,-131.519873,-5.422508,3.389236,1.449026,gid_2018_04_01_anamlb_oakmlb_1
1661,660271,501981,FS,88.3,81.4,259.049,687.911,-3.567466,0.690291,0.256388,2.498019,-1.990933,50.0,-5.978839,25.747013,-31.017167,6.883614,-128.430298,-3.090088,3.389236,1.449026,gid_2018_04_01_anamlb_oakmlb_1

In [40]:
df.groupby("pitch_type").mean().reset_index()

,pitch_type,pitcher_id,batter_id,start_speed,end_speed,spin_dir,spin_rate,pfx_x,pfx_z,px,pz,x0,y0,ax,ay,az,vx0,vy0,vz0,sz_top,sz_bot
0,CU,660271.0,519379.666667,74.900000,68.700000,32.139333,1838.592667,6.194068,-9.827401,-0.567220,2.008969,-1.995149,50.0,7.352819,21.401861,-43.837861,1.341890,-108.958399,0.989793,3.262154,1.452756
1,FF,660271.0,544427.333333,97.761538,89.869231,209.850077,2227.230769,-5.226279,9.130306,-0.182434,2.710546,-2.082585,50.0,-10.815647,29.607864,-13.282614,7.279825,-142.222161,-6.630219,3.491772,1.546780
2,FS,660271.0,574955.291667,89.262500,83.058333,255.690833,950.733083,-4.622389,1.247806,0.207985,1.328526,-1.995534,50.0,-7.991269,23.828636,-30.007368,7.227865,-129.803220,-6.086222,3.519589,1.496379
3,SL,660271.0,548490.769231,82.253846,75.503846,97.611231,1424.968692,7.877809,0.986151,-0.124891,2.731853,-2.373240,50.0,11.407303,23.361163,-30.707147,2.897849,-119.768961,-1.051915,3.527204,1.557722